<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body { 
          font-family: Arial; 
          color: white; 
          text-align: center; 
          margin-top: 10%; 
          background: black; 
        }
        a { 
          text-decoration: none; 
          color: white; 
          background: #dc3545; 
          padding: 10px 15px; 
          border-radius: 5px; 
        }
    </style>
</head>
<body>
    <h1>¡Hello there, {{ username }}!</h1>
    <p>You've logged in successfully with PostgreSQL.</p>
    <br>
    <a href="/logout">Log Out</a>
</body>
</html>
